setuptools
wheel
pybind11
fasttext
transformers==4.40.0
torch>=1.13.0
datasets
scikit-learn
pandas
numpy
mlflow
uvicorn
fastapi
prometheus_client
requests
python-dotenv
pytest
huggingface_hub
kaggle
kagglehub
regex
streamlit
